annotated-types==0.7.0
    # via pydantic
anyio==4.8.0
    # via
    #   httpx
    #   starlette
certifi==2025.1.31
    # via
    #   httpcore
    #   httpx
    #   requests
charset-normalizer==3.4.1
    # via requests
click==8.1.8
    # via uvicorn
fastapi==0.115.8
    # via search (pyproject.toml)
filelock==3.17.0
    # via
    #   huggingface-hub
    #   torch
    #   transformers
fsspec==2025.2.0
    # via
    #   huggingface-hub
    #   torch
grpcio==1.70.0
    # via
    #   grpcio-tools
    #   qdrant-client
grpcio-tools==1.70.0
    # via qdrant-client
h11==0.14.0
    # via
    #   httpcore
    #   uvicorn
h2==4.2.0
    # via httpx
hpack==4.1.0
    # via h2
httpcore==1.0.7
    # via httpx
httpx==0.28.1
    # via qdrant-client
huggingface-hub==0.29.1
    # via
    #   tokenizers
    #   transformers
hyperframe==6.1.0
    # via h2
idna==3.10
    # via
    #   anyio
    #   httpx
    #   requests
jinja2==3.1.5
    # via torch
markupsafe==3.0.2
    # via jinja2
mpmath==1.3.0
    # via sympy
networkx==3.4.2
    # via torch
numpy==2.2.3
    # via
    #   pandas
    #   qdrant-client
    #   transformers
orjson==3.10.15
    # via search (pyproject.toml)
packaging==24.2
    # via
    #   huggingface-hub
    #   transformers
pandas==2.2.3
    # via search (pyproject.toml)
pillow==11.1.0
    # via search (pyproject.toml)
portalocker==2.10.1
    # via qdrant-client
protobuf==5.29.3
    # via grpcio-tools
pydantic==2.10.6
    # via
    #   fastapi
    #   qdrant-client
pydantic-core==2.27.2
    # via pydantic
python-dateutil==2.9.0.post0
    # via pandas
python-dotenv==1.0.1
    # via search (pyproject.toml)
pytz==2025.1
    # via pandas
pyyaml==6.0.2
    # via
    #   huggingface-hub
    #   transformers
qdrant-client==1.13.2
    # via search (pyproject.toml)
regex==2024.11.6
    # via transformers
requests==2.32.3
    # via
    #   huggingface-hub
    #   transformers
safetensors==0.5.2
    # via transformers
setuptools==75.8.1
    # via
    #   grpcio-tools
    #   torch
six==1.17.0
    # via python-dateutil
sniffio==1.3.1
    # via anyio
starlette==0.45.3
    # via fastapi
sympy==1.13.1
    # via torch
streamlit==1.42.0

tokenizers==0.21.0
    # via transformers
torch==2.6.0
    # via search (pyproject.toml)
tqdm==4.67.1
    # via
    #   huggingface-hub
    #   transformers
transformers==4.49.0
    # via search (pyproject.toml)
typing-extensions==4.12.2
    # via
    #   anyio
    #   fastapi
    #   huggingface-hub
    #   pydantic
    #   pydantic-core
    #   torch
tzdata==2025.1
    # via pandas
urllib3==2.3.0
    # via
    #   qdrant-client
    #   requests
uvicorn==0.34.0
    # via search (pyproject.toml)

# Dependencias adicionales para la integración de PostgreSQL, SQLAlchemy y APScheduler:
psycopg2-binary==2.9.6
SQLAlchemy==1.4.47
APScheduler==3.10.3
